@using VPWebsite.Models
@model VideoView
@{
    ViewBag.Title = "Play Video - " + Model.Video.VideoTitle;
}

<h2>@Model.Video.VideoTitle</h2>

<div style="display: flex; justify-content: center;">
    <video style="flex: 1; max-width: 100%; border: 1px solid #ccc; border-radius: 8px;" controls>
        <source src="@Url.Content("~/Content/videos/" + Model.Video.VideoName)" type="video/mp4">
        Your browser does not support playing this video.
    </video>
</div>

<div style="text-align: center; margin-top: 20px;">
    <p><strong>Uploader:</strong> @Model.UserName</p>
    <p><strong>Datatime:</strong> @Model.FormattedUploadTime</p>
</div>


@if (VPWebsite.Models.User.loginedUser != null)
{
    if (VPWebsite.Models.User.loginedUser.Id == Model.Video.User || VPWebsite.Models.User.loginedUser.Role == UserRole.Admin)
    {
<form action="@Url.Action("DeleteVideo", new { videoId = Model.Video.Id })" method="post" onsubmit="return confirm('Are you sure you want to delete this video?');" style="text-align: center; margin-top: 20px;">
    <button type="submit" class="btn btn-danger">Delete Video</button>
</form>
    }
}

@if (ViewBag.Message != null)
{
    <div style="text-align: center; margin-top: 20px;">
        <p>@ViewBag.Message</p>
    </div>
}
