<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My Asp.Net Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm">
        <div class="container">
            @Html.ActionLink("PiliPili", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Upload", "UploadVideo", "Upload", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
                <ul class="navbar-nav flex-grow-1">
                    <div class="d-flex justify-content-between mb-4">
                        <!-- Search box-->
                        <form method="get" action="@Url.Action("Index", "Home")" class="search-form">
                            <input type="text" name="search" value="@ViewBag.SearchQuery" placeholder="Search..." class="search-input" />
                            <button type="submit" class="btn btn-primary search-btn">Search</button>
                        </form>

                        <!-- sort menu -->
                        <form method="get" action="@Url.Action("Index", "Home")" class="sort-form">
                            <select name="sort" class="form-select sort-select" onchange="this.form.submit()">
                                <option value="date_desc" @(ViewBag.SortOrder == "date_desc" ? "selected" : "")>By time (latest)</option>
                                <option value="date_asc" @(ViewBag.SortOrder == "date_asc" ? "selected" : "")>By time (earliest)</option>
                                <option value="title_asc" @(ViewBag.SortOrder == "title_asc" ? "selected" : "")>By title (A-Z)</option>
                                <option value="title_desc" @(ViewBag.SortOrder == "title_desc" ? "selected" : "")>By title (Z-A)</option>
                            </select>
                        </form>
                    </div>
                </ul>
                <ul class="navbar-nav ml-auto">
                    @if (Session["User"] != null)
                    {
                        <li class="nav-item">
                            <div class="avatar-container">
                                <a href="@Url.Action("Login", "Account")" class="nav-link">
                                    @if (Session["Avatar"] != null)
                                    {
                                        <img src="@Url.Content("~/Content/avatars/" + @Session["Avatar"])" alt="Avatar" class="avatar-img" />
                                    }
                                    else
                                    {
                                        <img src="@Url.Content("~/Content/avatars/default.jpg")" alt="Avatar" class="avatar-img" />
                                    }

                                </a>
                                <div class="hover-menu">
                                    @if (Session["IsAdmin"].Equals(0))
                                    {
                                        <span class="nav-link">Welcome, @Session["User"]</span>
                                    }
                                    else if (Session["IsAdmin"].Equals(1))
                                    {
                                <span class="nav-link">Welcome, Administer: @Session["User"]</span>
                                    }
                                    <div class="menu-item">@Html.ActionLink("Logout", "Logout", "Account", new { area = "" }, new { @class = "nav-link" })</div>
                                    @using (Html.BeginForm("UploadAvatar", "Upload", FormMethod.Post, new { enctype = "multipart/form-data", id = "uploadAvatarForm" }))
                                    {
                                        <div class="menu-item menu-item-avatar">
                                            <label for="avatarBtn" id="avatarBtn">Upload Avatar</label>
                                            <input type="file" id="avatarFile" name="avatarFile" style="display: none;" />
                                        </div>
                                    }
                                <div class="menu-item">@Html.ActionLink("Upload Videos", "UploadVideo", "Upload", new { area = "" }, new { @class = "nav-link" })</div>
                                </div>
                            </div>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <div class="avatar-container">
                                <a href="@Url.Action("Login", "Account")" class="nav-link">
                                    <img src="@Url.Content("~/Content/avatars/default.jpg")" alt="Avatar" class="avatar-img" />
                                </a>
                                <div class="hover-menu">
                                    <div class="menu-item">@Html.ActionLink("Login", "Login", "Account", new { area = "" }, new { @class = "nav-link" })</div>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My Asp.Net Application</p>
        </footer>
    </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/mainpage")
    @RenderSection("scripts", required: false)
</body>
</html>
