@model VPWebsite.Models.User

@{
    ViewBag.Title = "Register and Login";
}

@Scripts.Render("~/bundles/loginjs")
@Styles.Render("~/Content/logincss")

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="pageChange.css" />
    <script src="pageChange.js"></script>
</head>
<body>
    <div class="login_register">
        <div class="control">
            <div class="item">
                <div class="active">Login</div><div>Register</div>
            </div>
            <div class="content">
                <!-- login form -->
                <div style="display: block;">
                    <h2>Login</h2>
                    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                    {
                        <p>Username</p>
                        @Html.TextBoxFor(m => m.Username, new { placeholder = "username", required = "required" })
                        <p>Password</p>
                        @Html.PasswordFor(m => m.Password, new { placeholder = "password", required = "required" })
                        <br />
                        <button type="submit" class="LARbutton">Login</button>
                    }
                </div>
                <!-- register form -->
                <div>
                    <h2>register</h2>
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post))
                    {
                        <p>Username</p>
                        @Html.TextBoxFor(m => m.Username, new { placeholder = "username", required = "required" })
                        <p>Password</p>
                        @Html.PasswordFor(m => m.Password, new { placeholder = "password", required = "required" })
                        <br />
                        <button type="submit" class="LARbutton">Register</button>
                    }
                </div>
            </div>
        </div>
    </div>
</body>
</html>
